<mat-toolbar color="primary">
  <span>Stargate </span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/people">About</a>
  <a mat-button routerLink="/astronauts">Contact</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
  </mat-menu>
</mat-toolbar>